body {

    color: rgb(233, 111, 41);
    background-color: rgb(203, 179, 226);
    text-align: center;
    
}
ul {
display: grid;
color: peru;
text-align: center;
}
.imagenes { 
    display: grid;
}
.ayuwoki img {
    height: 308px;
    width: 231px;
}
.robertpattinson img {
    height: 220px;
    width: 320px;
}
h1 {
    font-style:italic;
    font-size: 5em;
    color: white;
    text-align: center;
}
.ayuwokiysara img {height: 308px;
    width: 231px;}
h3 {
    color: rgb(135, 14, 248);
}

